{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Create Grant
{% endblock %}

{% block content %}
<a href="https://services.rt.nyu.edu/docs/hpc/getting_started/Slurm_Accounts/adding_publications_grants/#enter-grants">Instructions on adding a grant</a>
<form method="post">{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-primary" type="submit" value="Save">
	<a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Cancel</a><br></form>

{% endblock %}
